@charset "utf-8";
/* CSS Document */
#main{margin:0 auto; position:relative; width:100%; min-width:500px; height:600px; border:solid 1px #ccc; background-color: #002a80}
li{display:inline-block; width:200px;}

